.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--text-grey);
}

.inner {
  text-align: center;
  max-width: 410px;
}

.title {
  font-weight: 100;
  font-size: 25px;
  margin: 10px 0 0;
}
.text {
  margin: 10px 0 20px;
  font-size: 17px;
  color: var(--text);
}

.button {
  font-weight: 500;
}
