.wrapper {
  height: 100%;
  display: flex;
  overflow-x: hidden;
}
.main {
  flex: 1;
}
.sidebar {
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-bg);
  padding-left: 16px;
  padding-right: 16px;
}

.tickerList {
  flex: 1;
  overflow: auto;
}

.orderList {
  height: 150px;
  border-top: 2px solid var(--border-color-light);
}

.orderForm {
  border-top: 2px solid var(--border-color-light);
  padding-top: 13px;
}
