.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  background-color: #131722;
  display: flex;
  flex-direction: column;
}

.console {
  height: 25px;
  background-color: #0b0e11;
  color: #333;
}

.mainWrapper {
  flex: 1;
}

.snackbar > div {
  font-size: 14px;
  font-family: var(--font-family);
  padding: 2px 16px;
}

.snackbarSuccess {
  background-color: var(--green);
}

.snackbarError {
  background-color: var(--red);
}

.snackbarWarning {
  background-color: var(--yellow);
  color: var(--text-contrast);
}
