name: Publish

on:
  push:
    branches:
      - main
      - beta
      - alpha

jobs:
  publish:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ macos-latest ]

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v1

      - name: Update channel package.json version
        run: |
          node -e "let pkg=require('./src/package.json'); pkg.version=pkg.version + (${{ secrets.RELEASE_TAG_NAME }} ? '-' + ${{ secrets.RELEASE_TAG_NAME }} : ''); require('fs').writeFileSync('src/package.json', JSON.stringify(pkg, null, 2));"
          cat ./src/package.json