name: Publish

on:
  push:
    branches:
      - main
      - beta
      - alpha

jobs:
  publish:
    environment: ${{ github.ref }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ macos-latest ]

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v1

      - name: Update channel package.json version
        run: |
          node -e "let pkg=require('./package.json'); pkg.version=pkg.version + (process.env.RELEASE_TAG_NAME ? '-' + process.env.RELEASE_TAG_NAME : ''); require('fs').json', JSON.stringify(pkg, null, 2));"
          cat ./package.json
        env:
          RELEASE_TAG_NAME: '${{ secrets.RELEASE_TAG_NAME }}'
